*{
	box-sizing: border-box;
}
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	
}
.back{
	margin-top: 0px;
	flex-basis: 500px;
	height: 600px;
	background: #134711;
	padding: 20px;
}
.frame{
	margin:10px 10px 10px 10px;
	flex-basis: 300px;
	height:540px;
	background-image: url(bg2.jpg); 
	border-radius: 30px;
}
.tombol{
	margin-top: 30px;
	margin-left: 80px;
}
.huruf{
	margin-top: 50px;
	margin-left: 30px;
}
.atas{
	margin-left: 15px;
	padding-top:10px;
}
.belajar{
	margin:50px 10px 10px 10px;
	flex-basis: 250px;
	height:353px;
	background: #FFEBCD;
	padding-left: 5px;
	padding-top: 5px;
}
.tampil{
	margin:70px 10px 10px 120px;
	border-radius: 20px;
	flex-basis: 150px;
	height:200px;
	width: 200px;
	padding-left: 5px;
	padding-top: 5px;
	background-color: #E0FFFF;
}
